<div id='home'>
  <!-- Main hero unit for a primary marketing message or call to action -->
  <div class='row intro_image'>
    <div class='pwbc_intro_image span12'>
      <%= image_tag('pwbc_logo_traces.png') %>
    </div>
  </div>
  <br />

  <div class="hero-unit">
    <%= render 'partials/harnessing_energy' %>
  </div>

  <!-- 3 columns -->
  <div class="row">
    <div class="span4">
      <%= render 'partials/product_development' %>          
    </div>
    <div class="span4">
      <%= render 'partials/digital_prototyping' %> 
   </div>
    <div class="span4">
        <%= render 'partials/rapid_prototyping' %> 
    </div>
  </div>

</div> <!-- Home End -->